.picturesCard-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: 100px;

	grid-auto-flow: dense;
	row-gap: 1rem;
}
.grid-1 {
	grid-row: span 2;
}
.grid-2 {
	grid-row: span 3;
}
.grid-3 {
	grid-row: span 1;
}
.grid-4 {
	grid-row: span 2;
}
.grid-5 {
	grid-row: span 3;
}
.grid-6 {
	grid-row: span 2;
}

/* *************** Card Styles******************** */
.card-container {
	width: 180px;
	height: 100%;
}
.card-picture {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 0%;
	margin: 0%;
	z-index: 2;
}
.card-picture .image-picture {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 25px;
	border: 1px solid #d6d5db;
}
.card-picture .image-picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	transition: 0.3s ease-in-out;
	z-index: 3;
}
.card-picture:hover .image-picture img {
	transform: scale(1.1);
}
.card-picture .shadow-picture {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 25px;
	background-color: rgba(11, 52, 80, 0.267);
	transition: 0.3s ease-in-out;
	overflow: hidden;
	z-index: 4;
}
.card-picture:hover .shadow-picture {
	opacity: 1;
	cursor: -moz-zoom-in;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}

.btns-shadow-picture {
	width: 100%;
	height: 50px;
	display: flex;
}

/* *******Botones styles********* */
.btn-card {
	background-color: #ff0080;
	color: white;
	font-size: 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 10px;
}
.btn-card:hover {
	cursor: pointer;
}
.btn-up {
	border: none;
	position: fixed;
	margin: 20px;
	bottom: 1%;
	right: 1%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #d805a39d;
	box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, 0.479);
	cursor: pointer;
	color: white;
	transition: 0.1s ease-in-out;
	z-index: 30;
}
.btn-up:hover {
	background-color: #d805a3ef;
	box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.479);
	transform: scale(0.9);
}

/* -----------------Maximo (phone)--------------------- */
@media (max-width: 850px) {
	.picturesCard-container {
		grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
	}
	/* ************ Card Styles************ */
	.card-container {
		width: 110px;
	}
	/* *******Botones styles********* */
	.btn-card {
		margin: 2px;
	}
}
