.content-searchBar {
	width: 90%;
	display: flex;
	justify-content: center;
	/* position: relative; */
}
.input-searchBar {
	outline: none;
	width: 100%;
	padding: 1rem;
	border-radius: 15px;
	background-color: rgb(255, 255, 255);
	border: 2.5px solid #556585;
	box-shadow: 0px 13px 30px 0px rgba(60, 45, 116, 0.315);
}
.btn-seachBar {
	position: absolute;
	width: 35px;
	height: 35px;
	background-color: #000000;
	box-shadow: 0px 5px 10px 0px rgba(126, 126, 126, 0.562);
	top: 50%;
	left: 93%;
	transform: translate(-93%, -50%);
	border: none;
	border-radius: 50%;
}
.btn-seachBar:hover {
	cursor: pointer;
	background-color: rgb(85, 101, 133);
}
