* {
	--backgroundColor: #f5f5f5;
	--primaryColor: #f5f5f5;
	--borderPrimaryColor: #e8edee;
	/* --errorBackgroundColor: #ff6e6e; */

	--textColorPrimary: #000000;
	--textColorSecondary: #f4524f;
	--textColorDisable: #d1d1d1;
	--textColorError: #ffffff;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.body {
	position: absolute;
	width: 100%;
	height: auto;
	min-height: 100vh;
	background-color: var(--backgroundColor);
	display: flex;
	justify-content: center;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.containerProject {
	width: 95%;
	max-width: 1290px;
	background-color: transparent;
	box-sizing: border-box;
	animation: fadein 0.5s ease-in;
}
/* Flex Styles */
.flex {
	display: flex;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.flex-center {
	align-items: center;
	justify-content: center;
}
.flex-aling-center {
	align-items: center;
}
.flex-aling-right {
	align-items: flex-end;
}
.flex-justify-right {
	justify-content: flex-end;
}

.flex-justify-center {
	justify-content: center;
}
.flex-justify-between {
	justify-content: space-between;
}
.flex-justify-around {
	justify-content: space-around;
}
.flex-column {
	flex-direction: column;
}

/* TextStyles */
.text-head {
	font-size: 2.5rem;
}
.text-tittle {
	font-size: 1.5rem;
}
.text-subtittle {
	font-size: 1.2rem;
}
.text-bold {
	font-weight: bold;
}
.text-lighter {
	font-weight: lighter;
}
.text-justify {
	text-align: justify;
}
.img-cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
