.container-auth {
	background-color: var(--primaryColor);
	width: 80%;
	height: 85%;
	border: 5px solid var(--borderPrimaryColor);
	border-radius: 5px;
	box-shadow: 1px 1px 20px 0px rgba(110, 122, 133, 0.486);
	overflow: hidden;
}
.auth-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-areas: 'Form Form Form Img Img';
	width: 100%;
	height: 100%;
}
.grid-area-From {
	grid-area: Form;
}
.grid-area-Img {
	grid-area: Img;
}

.media-icon {
	width: 40px;
	margin: 0px 10px;
}
.media-icon:hover {
	cursor: pointer;
	transform: scale(0.9);
}

.auth-input {
	width: 100%;
	height: 4rem;
	padding: 10px;
	border-radius: 10px;
	margin: 10px 0px;
	border: 2px solid #d1dadb;
	background-color: #e7eff0;
	outline: none;
	color: rgb(83, 83, 83);
	font-weight: 400;
}

.auth-input:focus {
	background-color: #eff3f3;
	outline: none;
}
.btn-auth {
	margin: 5px;
	width: 50%;
	border-radius: 10px;
}
.btn-auth:hover {
	transform: scale(0.98);
	cursor: pointer;
}
.btn-auth1 {
	background-color: var(--textColorSecondary);
	border: none;
	padding: 1rem;
	color: var(--primaryColor);
}
.btn-auth2 {
	background-color: var(--primaryColor);
	border: 2px solid var(--textColorSecondary);
	padding: calc(1rem - 4px);
	color: var(--textColorSecondary);
	display: flex;
	justify-content: center;
	text-decoration: none;
}

/* Mensaje de error */
.auth-alert-error {
	color: red;
	font-weight: bold;
	padding-top: 10px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	text-align: center;
}

@media (max-width: 500px) {
	.auth-grid {
		display: grid;
		grid-template-columns: 1fr;

		grid-template-areas:
			'Form'
			'Img';
		width: 100%;
		height: 100%;
	}
	.grid-area-From {
		grid-area: Form;
	}
	.grid-area-Img {
		grid-area: Img;
	}
}
